WORDPRESS_DB_HOST=mydbserver
WORDPRESS_DB_USER=myusername
WORDPRESS_DB_PASSWORD=mypass
WORDPRESS_DB_NAME=myexampledb
MYSQL_DATABASE=myexampledb
MYSQL_USER=myusername
MYSQL_PASSWORD=mypass
MYSQL_RANDOM_ROOT_PASSWORD="1"
